body{
    background-image: url(mole-game/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    cursor: url(mole-game/cursor.png), auto;
}
.container{
    height: fit-content;
    width:100%;
    display: flex;
    text-align: center;
}
.box{
    height: fit-content;
    width: 100%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}
img{
    height: 40vh;
    width: 50vh;
    border-radius: 50%;
}
img.hungry{
cursor: url(mole-game/cursor-worm.png), auto;
}