html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 2rem;
}
legend{
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
label{
	display: block;
}
textarea{
 height: 10rem;
 padding: 1rem;
}
select{
	font-size: 1rem;
}
button{
	font-size: 1.3rem;
	padding: 1rem;
	color: aliceblue;
	background-color: red;
	border-radius: 10px;
    border: none;
}
button:hover{
	background-color: aliceblue;
}
input:not([type="radio"]) :not(type="checkbox"){
	display: block;
	width: 20rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	padding: 0 1rem;
}
p, [for="abtype"]{
	margin: 2rem 0;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: bisque;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}












